@page
@model FilmReference.FrontEnd.Pages.DirectorPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Directors</h1>

<p>
    <a asp-page="/PersonPages/Create">Create New</a>
</p>
<p>
    @Model.Count record@(Model._replacementHelper.ShowCorrectRecordText(@Model.Count)) found
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Directors[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Directors[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Directors[0].Film)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Directors)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Film.Count)
            </td>
            <td>
                <a asp-page="/PersonPages/Details" asp-route-personid="@item.PersonId">Details</a> |
                <a asp-page="/PersonPages/Edit" asp-route-personid="@item.PersonId">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<ul class="pagination">
    @{ for (var i = 1; i <= Model.TotalPages; i++)
        {
            if (i == @Model.CurrentPage)
            {
                <li class="page-item active">
                    <a asp-page="Index" asp-route-currentpage="@i" class="page-link">@i</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a asp-page="Index" asp-route-currentpage="@i" class="page-link">@i</a>
                </li>
            }
        }
    }
</ul>